extends layout
block content
	h2 Registered Users
	table.table.table-striped
		thead
			tr
				th First Name
				th Last Name
				th Address 1
				th Address 2
				th City
				th State
				th Zip
				th Country

		tbody
			for user in users
				tr
					th #{user.FirstName}
					th #{user.LastName}
					th #{user.Address1}
					th #{user.Address2}
					th #{user.City}
					th #{user.State}
					th #{user.Zip}
					th #{user.Country}

	